</section>
  <section class = "container">
      <section class = "contact">
        <small>&copy; Ashton Spina, 2017</small>
        <p> Twitter @ashtonspina</p>
        <p> Facebook <a href="https://www.facebook.com/ashton.spina" target="_blank">What The World</a></p>
        <p><a href="mailto:spinaashton@gmail.com?subject=Technical%Support&body=I%Have%An%Issue:">Email Me at spinaashton@gmail.com</a></p>
      </section>
  </section>
</html>