<!DOCTYPE html>
	<head>
		<link rel="stylesheet" href="/stylesheets/sidebar.css">
	</head>
<html lang="en">
	<!-- Sidebar -->
    <div id = "sidebar-wrapper">
        <ul class = "sidebar-nav">
            <li><a href = "#">PHP</a></li>
            <li><a href = "#">Java</a></li>
            <li><a href = "#">C++</a></li>
            <li><a href = "#">C</a></li>
            <li><a href = "#">Javascript</a></li>
            <li><a href = "#">CSS</a></li>
            <li><a href = "#">HTML</a></li>
            <li><a href = "#">R</a></li>
            <li><a href = "#">LaTex</a></li>
            <li><a href = "#">Nodejs</a></li>
            <li><a href = "#">Haskell</a></li>
            <li><a href = "#">Python</a></li>
        </ul>
    </div>
</html>














