<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Social Footer, Colour Matching Icons -->
        <!-- Include Font Awesome Stylesheet in Header -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/stylesheets/footer.css" rel="stylesheet" type="text/css">
    </head>
    
    <!-- // -->
    <div class="container">
            <div class="text-center center-block">
                <h4>Are you impressed with this website and its maker?  Do you like to share career-oriented personal websites with friends?  I'm not sure the context in which that would be the case, but you can do that here!</h4>
                    <a href="http://facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="http://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="http://google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                    <a href="http://reddit.com"><i id="social-rd" class="fa fa-reddit-square fa-3x social"></i></a>
                    <a href="http://linkedin.com"><i id="social-rd" class="fa fa-linkedin-square fa-3x social"></i></a>
                    <a href="#"><i id="social-em" class="fa fa-link fa-3x social"></i></a>
            </div>
            <hr>
        </div>

        <br />
        <hr />
    </div>
</html>











